# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
venv/
.venv/
env/
.env

# Папки которые не нужны в Git
youtube_automation_bot/venv/
youtube_automation_bot/redis-stable/
redis-stable/

# Базы данных
*.db
*.sqlite
*.sqlite3

# Логи и временные файлы
*.log
*.tmp
temp/
logs/
outputs/
downloads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/